#output_generated_combined {
  font-family: monospace;
  color: #EFECCA;
  display:block;
  overflow:auto;
}

#firstline{
  display:block;
  overflow:auto;

}

body {
  background: radial-gradient(ellipse at bottom, #EFECCA 0%, #EFECCA 100%);
  position: relative;
  height: 95vh;
  width: 100vw;
  margin: 00;
}

p {
  color: #102542;
  font-family: monospace;
  font-size: 1.6vh;
  /*line-height: 3vh;*/
  display: inline;
}

button {
  float: right;
  font-size: 1.4vh;
  /* height: 2.6vh;*/
  opacity: 80%;
}